@font-face { font-family: dancing-script; 
    src: url('../public/static/DancingScript-Bold.ttf'); } 

.loading-spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .logo{
    text-align: center;
    font-size: 50px;
    font-family: dancing-script;
  }

  .logo::first-letter{
    color: green;
  }

  .form-control:focus{
    box-shadow: none !important;
  }

  .badge{
    border: none !important;
  }

  
.flt-r {
  display: flex;
  float: right;
}